<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.dreamland.prj.mapper.dayoffMapper">
        
   <select id="getDayoffListByYear" 
           parameterType="map" 
           resultType="AppleaveDto">
      <!-- SELECT L.LEAVE_CLASSIFY, L.LEAVE_START, L.LEAVE_END, L.DETAIL
        FROM APV_LEAVE L
        JOIN EMPLOYEE E ON L.EMP_NO = E.EMP_NO
       WHERE L.EMP_NO = #{empNo}
         AND L.LEAVE_STATUS = 1
         AND TO_CHAR(L.LEAVE_START, 'YYYY') = #{year}
       ORDER BY L.LEAVE_START -->
       SELECT LEAVE_CLASSIFY, LEAVE_START , LEAVE_END, DETAIL 
         FROM APV_LEAVE
        WHERE EMP_NO = #{empNo}
          AND TO_CHAR(LEAVE_START, 'YYYY') = #{year}
          AND LEAVE_STATUS = 1
        ORDER BY LEAVE_START
    </select>
    
    <select id="getEnterDate" 
            parameterType="int" 
            resultType="string">
       SELECT TO_CHAR(ENTER_DATE, 'YYYY-MM-DD')  
         FROM EMPLOYEE
        WHERE EMP_NO = #{empNo}
    </select>
    
</mapper>
 