<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamland.prj.mapper.RefreshMapper">

   <select id="getRefreshByRefreshToken"
          parameterType="String">
    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
      FROM REFRESH
    <where>
      <if test="refreshToken!=null">REF_TOKEN = #{refreshToken}</if>
    </where>
  </select> 
  
  <insert id="insertRefresh"
          parameterType="RefreshDto">
    <selectKey order="BEFORE" keyProperty="refId" resultType="int">
      SELECT REFRESH_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO REFRESH (
        REF_ID
      , USERNAME
      , REF_TOKEN
      , EXPIRATION
    ) VALUES (
        #{refId}
      , #{username}
      , #{refToken}
      , #{expiration}
    )  
  </insert>

  <delete id="removeRefresh">
    DELETE
      FROM REFRESH
     WHERE REF_TOKEN = #{refToken}
  </delete>
  
  <delete id="removeRefreshByDate">
    DELETE FROM REFRESH
    WHERE TO_TIMESTAMP(EXPIRATION, 'YYYY-MM-DD HH24:MI:SS') BETWEEN TRUNC(SYSDATE)+1 AND TRUNC(SYSDATE) + 2
  </delete>
  


</mapper>