@charset "UTF-8";


        .apv-container {
            width: 70%;
            margin: auto;
            border: 1px solid #bdbdbd;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 50px;
            
        }
        
        .form-select {
        width: 150px;
        }
        

        .table-bordered{
            width:100%;
            border: 1px solid #bdbdbd;
            border-collapse: collapse;
            text-align: center;
        }
        
     .fixed-size {
    width: 209px;
    height: 50px;
}	

	

        .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-weight: bold;
            margin-bottom: 10px;
        }
        .input-table, .input-table td {
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 8px;
        }
        .input-table {
            width: 100%;
        }
        .textarea {
            width: 100%;
            height: 100px;
            border: 1px solid #000;
            resize: none;
        }
        .footer {
            text-align: right;
            margin-top: 20px;
        }
        .page {
            display: none;
            flex-grow: 1;
            overflow: auto;
        }
        .page.active {
            display: block;
        }
          .button-primary {
            background-color: #4CAF50;
            color: white;
        }
        .button-secondary {
            background-color: #888;
            color: white;
        }
            .jstree-node.custom-node {
        background-color: #f0f0f0;
    }
    .approvers{
    width:163px;
    			border: none;
    text-align: center;
    }
    .approvers2{
    width:163px;
    			border: none;
    text-align: center;
    }


  
        .post-list-container {
    min-width:1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
       box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
        border-radius: 0.5rem;
}

.post-list-table {
    width: 100%;
    border-collapse: collapse;
}

.post-list-table th, .post-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.post-list-table th {
    background-color: #f9f9f9;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.pagination span {
    padding: 8px 12px;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor: pointer;
}

.pagination span:hover {
    background-color: #f1f1f1;
}

        
        
     .buttons {
     	float: right;
     }

.leavetable {
	
	text-align: left;
}



   