@charset "UTF-8";

/* nav */
nav .avatar {width: 48px; height: 48px;}
nav .avatar i {font-size: 3rem}


/* 메인 유저 정보 */
.main-news-wrap .btn {display: block;}


/* 메인 날씨 API */
#current-temp {line-height: 2em;}
.temt-wrap {overflow: hidden;}
.temt-wrap div {float: left; width: 50%;}
.temt-wrap div .tit {margin-right: 10px;}


/* 메인 공지사항 */
.noti-card {min-height: 255px;}
.notice-important {color: #ee2b4b; padding: 3px 10px; margin-right: 10px; font-size: 13px; border: 1px solid #ee2b4b; border-radius: 25px;}
.notice-list {cursor: pointer;}

/* 메인 알림 영역 */
.main-news-wrap div a {display: inline-block; width:100%; height: 100%;}
.main-news-wrap div.news-msg a {color: #8592a3;}
.main-news-wrap div.news-await a {color: #71dd37;}
.main-news-wrap div.news-my-await a {color: #03c3ec;}
.main-news-wrap div:hover a {color: #fff;}

/* 메인 캘린더 */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {display: none;}