@charset "UTF-8";

/* nav */
nav .avatar {width: 48px; height: 48px;}
nav .avatar i {font-size: 3rem}

/* 메인 */
#current-temp {line-height: 2em;}
.temt-wrap {overflow: hidden;}
.temt-wrap div {float: left; width: 50%;}
.temt-wrap div .tit {margin-right: 10px;}
.main-news-wrap .btn {display: block;}


/* 조직도 */
.jstree-default .jstree-search {color: #0e8b00;}
.jstree-default .jstree-icon.bxs-spreadsheet:before {color: #90b54c;}